<table class="ui celled striped table">
  <thead>
    <tr><th colspan="4">
      Captive Connections
    </th>
  </tr></thead>
  <tbody id="user-list"></tbody>
</table>

<table class="ui celled striped table">
  <thead>
    <tr><th colspan="5">
      Kown Connections
    </th>
  </tr></thead>
  <tbody id="connection-list"></tbody>
</table>
