<div class="ui positive message">
  <div class="header">
    Yay!
  </div>
  <p>Way to go! You've completed all of your chores!</p>
  <h3>You are now free to continue watching Joel's presentation</h3>
</div>
